body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #ffffff;
}

div.main {
	top: 20%;
	position: absolute;
	width: 30em;
	left: 50%;
	margin-left: -15em;
}

div.title {
	margin-top:0.2em;
	margin-bottom: 0.3em;
	text-align: center;
	border-bottom: 2px solid;
	line-height: 1;
}

div.info {
	text-align:center;
}

div.info ul {
	width: 336px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

div.info li {
	float: left;
	padding-top: 6px;
	width: 42px;
}

div.info img {
    float:right;
	display: block;
	height: auto;
}

div.info textarea {

}

h1{
	margin: 0.1em 0;
	font-size:40px;
	color: #4C4C4C;
}

h2 {
	margin-top: 0em;
	margin-bottom: 0.5em;
	font-size: 12px;
	color: #4D4D4D;
}

div.chatMain {
	display: block;
	margin: 20px auto auto auto;	
	width: 700px;
	height: 500px;
}

div.chatTop {
	margin: auto;
	float: left;
	width: 100%;
	height: 5%;
}

div.name {
	margin: auto;
	float: left;
    padding-left:0px;
	height: 100%;
}

div#language {
	margin: auto;
	float: right;
	width: 20%;
	height: 100%;
    text-align: left;
}

div#languageRight{
    margin: auto;
	float: left;
	width: 10%;
	height: 100%;
    text-align: left;
}

div.chatBottom {
	margin: auto;
	float: left;
	width: 100%;
	height: 5%;
}

div.chatBottom  #message{
	float: left;
	margin: 0em;
	width: 100%;
	height: 100%;
}

div.chatBottom  #send{
	float: right;
	margin: auto;
	width: 20%;
	height: 100%;
}

div.chatLeft  {
    padding-top:2em;
	margin: auto;
	float: left;
	width: 75%;
	height: 80%;
}

div.chatLeft  textarea {
	width: 100%;
	height: 90%;
	resize:none;
}

div.chatRight  {
    padding-top:2em;
	margin: auto;
	float: right;
	width: 20%;
	height: 80%;
	resize:none;
}

div#userWindow {
    margin-top:0.5em;
	width: 100%;
	height: 90%;
	resize:none;
	border: 1px solid;
	border-color: grey;
}

div #chatWindow {
    margin-top:0.5em;
	overflow-y:scroll;
	overflow-x:hidden;
	word-wrap: break-word;
	border: 1px solid;
	border-color: grey;
	height: 91%;
}


div#languages{
    float:right;
}
div#languageSet {
    float: right;
}

input#submit {
    position:absolute; 
    top:-1000px;
}


input#nameStartup{
    width:100%;
    margin-bottom:2px;
}

div.left {
    width: 40%;
    float: left;
    text-align: right;
}
div.right {
    width: 55%;
    margin-left: 10px;
    float:left;
}

div p {
    text-align:left;
    position:centre;
    margin: 1px;
}

input#name,
input#languageSet{
    border: 0px;
    font-weight:bold;
    padding-left: 1em;
}
div#userWindow img{
    float: left; 
    margin:1px;
    padding-right:5px;
}

div#chatWindow img{
    float:left;
    margin:1px;
    padding-right:5px;
}

div#chatWindow hr{
margin:0px;
}

p {
    padding-top:2px;
    padding-left:2px;
}
